* {
  padding: 0;
  margin: 0;
  font-family: "League Gothic", sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/* Back to top button style */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgb(224, 84, 33);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

#myBtn:active {
  background-color: #191919;
  box-shadow: 0 5px #555;
  transform: translateY(4px);
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url("portfolio-background.jpg");
  background-repeat: round;
  background-position: left;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  color: rgb(224, 84, 33);
  font-size: 50px;
  letter-spacing: 10px;
}
span {
  color: white;
}
/* Nav bar and hover over style*/
#middle {
  font-size: 50px;
  background: hsla(5, 100%, 100%, 0.5);
  cursor: pointer;
}
#middle:hover {
  color: coral;
  transition: 1s;
}
#skill {
  font-size: 50px;
  background: hsla(5, 100%, 100%, 0.5);
  cursor: pointer;
}
#skill:hover {
  color: coral;
  transition: 1s;
}
#contactMe {
  font-size: 50px;
  background: hsla(5, 100%, 100%, 0.5);
  cursor: pointer;
}
#contactMe:hover {
  color: coral;
  transition: 1s;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
  font-size: 30px;
}
nav ul li {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
/*linkedin style */
.btn {
  color: white;
  text-decoration: none;
  font-size: 20px;
  border-radius: 4px;
  border: 10px solid transparent;
  padding: 5;
  transition: transform 0.4s;
}
.btn:hover {
  transform: scale(2);
  color: dodgerblue;
}
/* Cover content style */
.content {
  position: absolute;
  top: 70%;
  right: 8%;
  transform: translateY(-50%);
}
h1 {
  color: white;
  margin: 20px 0px 20px;
  font-size: 150px;
}
h3 {
  color: white;
  letter-spacing: 2px;
  font-size: 75px;
}
h4 {
  color: rgb(224, 84, 33);
  max-width: 100%;
  position: relative;
  font-size: 50px;
}
/* About me style */
.about {
  width: 100%;
  padding: 2%;
  background-color: rgb(0, 0, 0);
}
.about img {
  height: 800px;
  width: 500px;
}
.about-text {
  padding-left: 100px;
}
/* My Projects background style */
.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: space-around;
}
.about-text h2 {
  color: white;
  font-size: 100px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5 {
  color: coral;
  letter-spacing: 2px;
  font-size: 50px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.about-text p {
  color: aliceblue;
  letter-spacing: 2px;
  line-height: 35px;
  font-size: 35px;
  margin: 10px;
  width: 1000px;
}

.projects {
  background: #101010;
  width: 100%;
  padding: 100px 0px;
}

.title h2 {
  color: white;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.card {
  height: 500px;
  width: 500px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 100px;
  margin: 100px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.card i {
  font-size: 100px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: dodgerblue;
}

h5 {
  color: white;
  font-size: 50px;
  margin-bottom: 15px;
}

.pra p {
  color: aliceblue;
  font-size: 25px;
  line-height: 27px;
  margin-bottom: 25px;
}

.card .button {
  background-color: rgb(224, 84, 33);
  color: white;
  text-decoration: none;
  border-radius: 30px;
  border: 2px solid transparent;
  padding: 8px 22px;
  transition: 0.4s;
  font-weight: bold;
}

.card .button:hover {
  background-color: transparent;
  border: 2px solid rgb(224, 84, 33);
  cursor: pointer;
}

.contact-me {
  width: 100%;
  height: 450px;
  background-color: #191919;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-left: 20%;
}

.contact-me p {
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 25px;
  padding-right: 400px;
}
.form {
  font-family: "Times New Roman", Times, serif;
  border-radius: 1px;
  padding: 1px 30px;
  width: 50%;
  align-content: center;
}
label {
  color: rgb(224, 84, 33);
  font-size: 25px;
}

footer {
  position: relative;
  width: 100%;
  height: 300px;
  background: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p:nth-child(1) {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

footer p:nth-child(2) {
  color: white;
  font-size: 25px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}
.social {
  display: flex;
}
.social a {
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(224, 84, 33);
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
}
.social a:hover {
  transform: scale(1.3);
  transition: 0.3s;
}
.end {
  position: absolute;
  color: white;
  bottom: 10px;
  font-size: 15px;
}
label {
  color: rgb(224, 84, 33);
}
